<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>หน้าหมวดหมู่ร้านค้า</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">หน้าแรก<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">ร้าน<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">ประเภทสินค้า</a>
                </nav>
            </div>
        </div>
    </div>
</section>