<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModal">Singin</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-controls="Log In" role="tab" data-toggle="tab"
                                            href="#login">Sign In</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " aria-controls="register" role="tab" data-toggle="tab"
                                            href="#register">Sign Up</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active form-are" id="login">

                                        <form>
                                            <div class="form-bor">
                                                <div class="col-md-12 form-group">
                                                    <span for="">Email</span>
                                                    <input type="email" class="form-control" name="l_username"
                                                        id="l_username" placeholder="example@example.com">
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <span for="">Password</span>
                                                    <input type="password" class="form-control" name="l_password"
                                                        id="l_password" autocomplete="on">
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <input type="checkbox"  id="l_checkbox"
                                                        name="l_checkbox" />
                                                    <span for="test1">Keep me Signed in</span>
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <button type="button" class="genric-btn primary circle btn-singIn">Login</button>
                                                </div>
                                            </div>
                                            <a class="col-md-12 form-group" href="">Forgot Password?</a>
                                        </form>
                                    </div>

                                    {{!-- Register --}}
                                    <div role="tabpanel" class="tab-pane" id="register">
                                        <form action="">
                                            <div class="form-bor">
                                                <div class="col-md-12 form-group">
                                                    <span for="">Username</span>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <input type="text" name="r_username" class="form-control"
                                                                id="r_username" placeholder="Firstname">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control" name="r_lname"
                                                                id="r_lname" placeholder="Lastname">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 form-group">
                                                    <span for="">Email</span>
                                                    <input type="text" name="r_email" class="form-control" id="r_email"
                                                        placeholder="exam@example.com">
                                                </div>

                                                <div class="col-md-12 form-group">
                                                    <span for="">Password</span>
                                                    <input type="password" name="r_password" class="form-control"
                                                        id="r_password" placeholder="password" autocomplete="on">
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <input type="password" name="r_confirmPassword" class="form-control"
                                                        id="r_confirmPassword" placeholder="confirm password"
                                                        autocomplete="on">
                                                </div>

                                                <div class="col-md-12 form-group">
                                                    <button type="button" class="genric-btn primary circle btn-singUp">SingUp</button>
                                                    
                                                </div>
                                            </div>
                                            <a class="forgot-pass" href="index.html">Already have an account?
                                                <strong>Sign in</strong>
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>