<h4>Manage User</h4>

<div class="card">
    <div class="card-header">
        <button class="btn btn-success btn-add-category">Add Category</button>
    </div>
    <div class="card-body">
        <table class="table table-striped" id="dataTable" class="display">
            <caption>List of users</caption>
            <thead>
                <tr>
                    <th scope="col">ลำดับ</th>
                    <th scope="col">Picture</th>  
                    <th scope="col">Category</th>
                    <th scope="col">Details</th>
                    <th scope="col">Action</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal_category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="category_name">
                    </div>
                    <div class="mb-3">
                        <label for="category_image" class="col-form-label">Image:</label>
                        <input type="file" name="category_image" class="form-control" id="category_image">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Detail:</label>
                        <textarea class="form-control" id="category-detail"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close-category" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-save-category">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="/assets/jquery/jquery.min.js"></script>
<script src="{{scriptsData.category}}"></script>