	<!-- start banner Area -->
	{{!-- {{> banner}} --}}
	<!-- End banner Area -->
	<section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>

	<!-- start features Area -->
	{{!-- {{> feature}} --}}
	<!-- end features Area -->

	<!-- start category Area -->
	{{> checkout}}
	<!-- end category Area -->

    <!-- start product Area -->
	{{> product}}
	<!-- end product Area -->

    <!--Modal Area -->
    {{> modals}}
    <!-- end Modal Area -->

	<!-- Start exclusive deal Area -->
    {{> exclusive}}
	<!-- End exclusive deal Area -->

	<!-- Start brand Area -->
    {{> brand }}
	<!-- End brand Area -->

	<!-- Start related-product Area -->
	{{> relate_product}}
	<!-- End related-product Area -->

	<!-- start footer Area -->
	{{> footer_new}}
	<!-- End footer Area -->