<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>การยืนยัน</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">หน้าแรก<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">การยืนยัน</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Order Details Area =================-->
<section class="order_details section_gap">
    <div class="container">
        <h3 class="title_confirmation">ขอบคุณ การสั่งซื้อของคุณได้รับการตอบรับ</h3>
        <div class="row order_d_inner">
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>ข้อมูลการสั่งซื้อ</h4>
                    <ul class="list">
                        <li><a href="#"><span>หมายเลขคำสั่งซื้อ</span> : 60235</a></li>
                        <li><a href="#"><span>วันที่</span> : Los Angeles</a></li>
                        <li><a href="#"><span>ทั้งหมด</span> : USD 2210</a></li>
                        <li><a href="#"><span>วิธีการชำระเงิน</span> : Check payments</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>ที่อยู่</h4>
                    <ul class="list">
                        <li><a href="#"><span>ถนน</span> : 56/8</a></li>
                        <li><a href="#"><span>เมือง</span> : Los Angeles</a></li>
                        <li><a href="#"><span>จังหวัด</span> : United States</a></li>
                        <li><a href="#"><span>รหัสไปรษณีย์ </span> : 36952</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Shipping Address</h4>
                    <ul class="list">
                        <li><a href="#"><span>ถนน</span> : 56/8</a></li>
                        <li><a href="#"><span>เมือง</span> : Los Angeles</a></li>
                        <li><a href="#"><span>จังหวัด</span> : United States</a></li>
                        <li><a href="#"><span>รหัสไปรษณีย์ </span> : 36952</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>รายละเอียดการสั่งซื้อ</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">สินค้า</th>
                            <th scope="col">จำนวน</th>
                            <th scope="col">ยอดรวม</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>Pixelstore fresh Blackberry</p>
                            </td>
                            <td>
                                <h5>x 02</h5>
                            </td>
                            <td>
                                <p>$720.00</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Pixelstore fresh Blackberry</p>
                            </td>
                            <td>
                                <h5>x 02</h5>
                            </td>
                            <td>
                                <p>$720.00</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Pixelstore fresh Blackberry</p>
                            </td>
                            <td>
                                <h5>x 02</h5>
                            </td>
                            <td>
                                <p>$720.00</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>ผลรวมย่อย</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>$2160.00</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>การส่งสินค้า</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>Flat rate: $50.00</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>ทั้งหมด</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>$2210.00</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->


<!-- start product Area -->
{{> product}}
<!-- end product Area -->

<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<script src="/js/confirmation.js"></script>
<!-- start footer Area -->

{{> footer_new}}
<!-- End footer Area -->