<h1>home page.</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut id distinctio accusantium aperiam exercitationem, ad doloribus earum voluptatem fugit labore.</p>

{{#if condition}}
    <p>my name is = {{ content }}</p>

    {{else }}
    <p>my name is = {{ content }}</p>
{{/if }}