<!DOCTYPE html>
<html>

<head>
    <title>Secret Page</title>
</head>

<body>
    {{> customPartial}} <!-- เรียกใช้ partial ที่ต้องการ -->
    <div class="content">
        <p>This is the secret content.</p>
    </div>
</body>

</html>